html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
}

svg {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
}

.line {
	stroke: white;
	stroke-width: 1;
	stroke-linecap: round;
}
